<!-- ln1 -->
<div class="form-line">
  <mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input matInput required [(ngModel)]="aluno.nmAluno"
          placeholder="Pedro de Alcântara Francisco António João Carlos Xavier de Paula Miguel Rafael Joaquim José Gonzaga Pascoal Cipriano Serafim de Bragança e Bourbon">
  </mat-form-field>
</div>

<!-- ln2 -->
<div class="form-line">
  <mat-form-field class="form-field-inline" appearance="outline">
    <mat-label>Data de nascimento</mat-label>
    <input matInput [matDatepicker]="dtNascPicker" placeholder="Data de nascimento" required>
    <mat-datepicker-toggle matSuffix [for]="dtNascPicker"></mat-datepicker-toggle>
    <mat-datepicker #dtNascPicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="form-field-inline" style="width: 80px;" appearance="outline">
    <mat-label>Idade</mat-label>
    <input matInput type="number">
  </mat-form-field>
  <mat-form-field class="form-field-inline" appearance="outline">
    <mat-label>Naturalidade</mat-label>
    <input matInput placeholder="Vitória da Conquista - BA">
  </mat-form-field>
</div>

<!-- ln3 -->
<div class="form-line">
  <mat-form-field class="form-field-inline" appearance="outline">
    <mat-label>Escola</mat-label>
    <input matInput>
  </mat-form-field>
</div>

<!-- ln4 -->
<div class="form-line">
  <mat-form-field class="form-field-inline" style="width: 80px;" appearance="outline">
    <mat-label>Nível</mat-label>
    <mat-select>
      <mat-option *ngFor="let nivel of nivelEscolar" [value]="nivel.id">
        {{nivel.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="form-field-inline" appearance="outline">
    <mat-label>Modalidade</mat-label>
    <mat-select>
      <mat-option *ngFor="let mod of modalidadeEscolar" [value]="mod.id">
        {{mod.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="form-field-inline" appearance="outline">
    <mat-label>Horário Escolar</mat-label>
    <mat-select>
      <mat-option *ngFor="let hrEscola of horarioEscolar" [value]="hrEscola.id">
        {{hrEscola.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="form-field-inline" appearance="outline">
    <mat-label>Horário FAMEC</mat-label>
    <mat-select>
      <mat-option *ngFor="let hrInstituicao of horarioInstituicao" [value]="hrInstituicao.id">
        {{hrInstituicao.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>
<mat-divider style="margin-top: 10px; margin-bottom: 10px;" [inset]="true"></mat-divider>