<app-loading *ngIf="loading" [message]="loadingMessage"></app-loading>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>people</mat-icon>
    </div>
    <mat-card-title>Aluno</mat-card-title>
    <!-- <mat-card-subtitle>Cadastro da Família</mat-card-subtitle> -->
  </mat-card-header>
  <mat-form-field class="search-field">
    <mat-label>Pesquisar</mat-label>
    <input matInput #searchField type="search" placeholder="Nome do aluno" (keyup)="onSearch(searchField.value)">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <mat-list class="search-result">
    <mat-list-item *ngFor="let aluno of alunos">
      <p style="padding-right: 50px;">
        {{aluno.nmAluno}}
        <button mat-icon-button (click)="onSelectItem(user)" matTooltip="Carregue este item">
          <mat-icon>subdirectory_arrow_left</mat-icon>
        </button>
      </p>
    </mat-list-item>
  </mat-list>
  <mat-divider [inset]="true"></mat-divider>
  <form>
    <mat-accordion class="example-headers-align">
      <!-- PANEL 1-->
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Responsável
          </mat-panel-title>
          <mat-panel-description>
            I - Identificação do responsável
            <mat-icon>supervisor_account</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- ln1 -->
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput required placeholder="Pedro de Alcântara Francisco António João Carlos Xavier de Paula Miguel Rafael Joaquim José Gonzaga Pascoal Cipriano Serafim de Bragança e Bourbon">
          </mat-form-field>
        </mat-card-content>

        <!-- ln2 -->
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Parentesco</mat-label>
            <input matInput required placeholder="Mãe, Pai, ...">
          </mat-form-field>
          <mat-radio-group class="radio-group">
            <mat-label style="margin-top: -5px;">Sexo</mat-label>
            <mat-radio-button class="radio-button" value="1">Masculino</mat-radio-button>
            <mat-radio-button class="radio-button" value="2">Feminino</mat-radio-button>
          </mat-radio-group>
        </mat-card-content>

        <!-- ln3 -->
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Endereço completo</mat-label>
            <input matInput required placeholder="Av. Ivo Freire de Aguiar, S/N">
          </mat-form-field>
        </mat-card-content>

        <!-- ln4 -->
        <mat-card-content>
          <mat-form-field class="form-field-inline" appearance="outline">
            <mat-label>Bairro</mat-label>
            <input matInput required placeholder="Candeias">
          </mat-form-field>
          <mat-form-field class="form-field-inline" appearance="outline">
            <mat-label>Ponto de referência</mat-label>
            <input matInput placeholder="Próx. ao ">
          </mat-form-field>
        </mat-card-content>

        <!-- ln5 -->
        <mat-card-content>
          <mat-form-field class="form-field-inline" appearance="outline" s>
            <mat-label>Data de nascimento</mat-label>
            <input matInput [matDatepicker]="dtNascPicker" placeholder="Data de nascimento" required>
            <mat-datepicker-toggle matSuffix [for]="dtNascPicker"></mat-datepicker-toggle>
            <mat-datepicker #dtNascPicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="form-field-inline" appearance="outline">
            <mat-label>Idade</mat-label>
            <input matInput type="number" disabled>
          </mat-form-field>
        </mat-card-content>

        <!-- ln6 -->
        <mat-card-content>
          <mat-form-field class="form-field-inline" appearance="outline">
            <mat-label>Telefone 1</mat-label>
            <input matInput required placeholder="(77) 0000-0000">
          </mat-form-field>
          <mat-form-field class="form-field-inline" appearance="outline">
            <mat-label>Telefone 2</mat-label>
            <input matInput required placeholder="Av. Ivo Freire de Aguiar, S/N">
          </mat-form-field>
        </mat-card-content>


        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Próximo</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Social
          </mat-panel-title>
          <mat-panel-description>
            II - Perfil Social
            <mat-icon>accessibility</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">Próximo</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Habitação
          </mat-panel-title>
          <mat-panel-description>
            III - Condições Habitacionais
            <mat-icon>location_city</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">Próximo</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Família
          </mat-panel-title>
          <mat-panel-description>
            IV - Composição Familiar (Criança ou adolescente matriculado)
            <mat-icon>plus_one</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!--  -->

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">Fim</button>
        </mat-action-row>
      </mat-expansion-panel>

    </mat-accordion>

  </form>


</mat-card>