<form [formGroup]="formAluno">
  <!-- ln1 -->
  <div class="form-line">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput required formControlName="nmAluno" placeholder="Pedro de Alcântara Francisco António João Carlos Xavier de Paula Miguel Rafael Joaquim José Gonzaga Pascoal Cipriano Serafim de Bragança e Bourbon">
    </mat-form-field>
  </div>

  <!-- ln2 -->
  <div class="form-line">
    <mat-form-field class="form-field-inline" appearance="outline">
      <mat-label>Data de nascimento</mat-label>
      <input matInput formControlName="dtNascimento" [matDatepicker]="dtNascPicker" placeholder="Data de nascimento"
        required>
      <mat-datepicker-toggle matSuffix [for]="dtNascPicker"></mat-datepicker-toggle>
      <mat-datepicker #dtNascPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="form-field-inline" style="width: 80px;" appearance="outline">
      <mat-label>Idade</mat-label>
      <input matInput type="number">
    </mat-form-field>
    <mat-radio-group class="radio-group" formControlName="tpSexo">
      <mat-label style="margin-top: -5px; margin-left: 10px" >Sexo</mat-label>
      <mat-radio-button class="radio-button" value="1" color="primary">Masculino</mat-radio-button>
      <mat-radio-button class="radio-button" value="2" color="primary">Feminino</mat-radio-button>
    </mat-radio-group>
    <mat-form-field class="form-field-inline" appearance="outline">
      <mat-label>Naturalidade</mat-label>
      <input matInput formControlName="nmNaturalidade" placeholder="Vitória da Conquista - BA">
    </mat-form-field>
  </div>

  <!-- ln3 -->
  <div class="form-line">
    <mat-form-field class="form-field-inline" appearance="outline">
      <mat-label>Escola</mat-label>
      <input matInput formControlName="nmEscola">
    </mat-form-field>
  </div>

  <!-- ln4 -->
  <div class="form-line">
    <mat-form-field class="form-field-inline" style="width: 80px;" appearance="outline">
      <mat-label>Nível</mat-label>
      <mat-select formControlName="nrNivelEscolar">
        <mat-option *ngFor="let nivel of nivelEscolar" [value]="nivel.id">
          {{nivel.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field-inline" appearance="outline">
      <mat-label>Modalidade</mat-label>
      <mat-select formControlName="tpModalidadeEscolar">
        <mat-option *ngFor="let mod of modalidadeEscolar" [value]="mod.id">
          {{mod.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field-inline" appearance="outline">
      <mat-label>Horário Escolar</mat-label>
      <mat-select formControlName="tpHorarioEscolar">
        <mat-option *ngFor="let hrEscola of horarioEscolar" [value]="hrEscola.id">
          {{hrEscola.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field-inline" appearance="outline">
      <mat-label>Horário FAMEC</mat-label>
      <mat-select formControlName="tpTurnoFamec">
        <mat-option *ngFor="let hrInstituicao of horarioInstituicao" [value]="hrInstituicao.id">
          {{hrInstituicao.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- ln5 -->
  <div class="form-line">
    <mat-checkbox style="margin-right: 10px; padding-top: 20px;" formControlName="lgAlmocoInstituicao" color="primary">
      Almoço na Instituição
    </mat-checkbox>
    <mat-form-field class="form-field-inline" style="width: 110px;" appearance="outline">
      <mat-label>Saída da FAMEC</mat-label>
      <input matInput type="time" formControlName="hrSaida">
    </mat-form-field>
    <mat-radio-group class="radio-group" formControlName="lgAcompanhanteSaida">
      <mat-radio-button class="radio-button" value="1" color="primary">Sozinho</mat-radio-button>
      <mat-radio-button class="radio-button" value="2" color="primary">Acompanhado</mat-radio-button>
    </mat-radio-group>
    <mat-form-field class="form-field-inline" appearance="outline">
      <mat-label>Acompanhante</mat-label>
      <input matInput formControlName="nmAcompanhanteSaida">
    </mat-form-field>
  </div>
  <mat-divider style="margin-top: 10px; margin-bottom: 10px;" [inset]="true"></mat-divider>
</form>