/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import '~@angular/material/theming';
@import './theme.scss';

mat-card.form {
    margin: 0 !important;
    border-radius: 0;
}

mat-card.form mat-card-header {
    background: #4387B5;
    color: #fff;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: auto;
}

mat-card.form mat-card-title {
    font-size: 1.3em !important;
}

mat-card.form mat-card-subtitle {
    color: #eee;
    opacity: .7;
}

mat-card.form mat-card-content {
    overflow: auto;
    margin-bottom: 0;
    padding: 0 !important;
}

.error-snackbar {
    color: white;
    border-color: red;
    border-style: solid;
    border-width: 0px;
    border-left-width: 15px;
}

.alert-snackbar {
    color: white;
    border-color: darkorange;
    border-style: solid;
    border-width: 0px;
    border-left-width: 15px;
}

.success-snackbar {
    color: white;
    border-color: royalblue;
    border-style: solid;
    border-width: 0px;
    border-left-width: 15px;
}

.app-background {
    background-color: rgba(#000000, .05);
}

body {
    background-color: rgba(#000000, .05);
}