
.project
.classpath
/.settings/
view/vsc-famec.code-workspace
view/sol-base-angular/
/.settings/
view/vsc-famec.code-workspace
view/manager-base-angular/
view/famec.code-workspace
src/conf/database.xml
web/WEB-INF/.gitignore
