<mat-toolbar color="primary" fxFlex fxLayoutGap="10px">
  <mat-card-content class="content" fxFlex fxLayout="row">
    <!-- <mat-label class="logo">FAMEC</mat-label> -->
    <button class="button" mat-icon-button routerLink="">
      <mat-icon>home</mat-icon>
    </button>
    <button class="button" routerLink="/aluno" mat-icon-button>
      <mat-icon>people</mat-icon>
      <span class="span">Alunos</span>
    </button>
    <button class="button" mat-icon-button [matMenuTriggerFor]="mnRelatorio">
      <mat-icon>subject</mat-icon>
      <span class="span">Relatórios</span>
    </button>
    <mat-menu #mnRelatorio="matMenu">
      <button mat-menu-item>
        <mat-icon>people</mat-icon>
        <span>Alunos</span>
      </button>
    </mat-menu>
    <button class="button" routerLink="/usuario" mat-icon-button>
      <mat-icon>account_circle</mat-icon>
      <span class="span">Usuários</span>
    </button>
    <button class="button" mat-icon-button [mat-menu-trigger-for]="mnMais">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #mnMais="matMenu">
      <button mat-menu-item routerLink="/contato"> Contato </button>
      <!-- <button mat-menu-item> Sobre </button> -->
    </mat-menu>
  </mat-card-content>
</mat-toolbar>
<router-outlet></router-outlet>