<mat-toolbar color="primary" fxFlex fxLayoutGap="10px">
  <mat-toolbar-row>
      <img src="./assets/logo/logo.png"/>
      <button mat-icon-button routerLink="" matTooltip="Página Inicial">
          <mat-icon>home</mat-icon>
        </button>
        <button routerLink="/familia" mat-icon-button matTooltip="Cadastro de Família">
          <mat-icon>people</mat-icon>
          <span>Família</span>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="mnRelatorio" matTooltip="Relatórios">
          <mat-icon>subject</mat-icon>
          <span>Relatórios</span>
        </button>
        <mat-menu #mnRelatorio="matMenu">
          <button mat-menu-item matTooltip="Relatório de Alunos">
            <mat-icon>school</mat-icon>
            <span>Alunos</span>
          </button>
        </mat-menu>
        <button routerLink="/usuario" mat-icon-button matTooltip="Cadastro de Usuários">
          <mat-icon>account_circle</mat-icon>
          <span>Usuários</span>
        </button>
        <span style="width: 100%;"></span>
        <button mat-icon-button [mat-menu-trigger-for]="mnMais" matTooltip="Mais opções...">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #mnMais="matMenu">
          <button mat-menu-item routerLink="/contato" matTooltip="Página de Contatos"> Contato </button>
          <button mat-menu-item (click)="logout()" matTooltip="Sair do Famec Manager"> Sair </button>
        </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>