<app-loading *ngIf="loading" [message]="loadingMessage"></app-loading>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>account_circle</mat-icon>
    </div>
    <mat-card-title>Usuário</mat-card-title>
  </mat-card-header>
  <mat-form-field class="search-field">
    <mat-label>Pesquisar</mat-label>
    <input matInput #searchField type="search" placeholder="Nome de usuário" (keyup)="onSearch(searchField.value)">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <mat-list class="search-result">
    <mat-list-item *ngFor="let user of usuarios">
      <p style="padding-right: 50px;">{{user.nmUsuario}}
        <button mat-icon-button (click)="onSelectItem(user)" matTooltip="Carregue este item">
          <mat-icon>subdirectory_arrow_left</mat-icon>
        </button>
      </p>
    </mat-list-item>
  </mat-list>
  <mat-divider [inset]="true"></mat-divider>
  <mat-card-content>
    <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
      <table>
        <tr>
          <td colspan="2">
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="nmUsuario" required placeholder="Pedro de Alcântara Francisco António João Carlos Xavier de Paula Miguel Rafael Joaquim José Gonzaga Pascoal Cipriano Serafim de Bragança e Bourbon">
            </mat-form-field>
          </td>
          <td>
            <mat-slide-toggle formControlName="stUsuario" [color]="accent" [checked]="true">Ativo</mat-slide-toggle>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Login</mat-label>
              <input matInput formControlName="nmLogin" placeholder="Nome de usuário" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Senha</mat-label>
              <input matInput type="password" formControlName="nmSenha" placeholder="Senha" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Confirme a Senha</mat-label>
              <input matInput type="password" #nmSenha2 placeholder="Confirme a senha" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>E-mail</mat-label>
              <input matInput formControlName="nmEmail" type="email" placeholder="usuario@provedor.com">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Função</mat-label>
              <input matInput formControlName="nmFuncao" placeholder="Função">
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-card-actions class="done">
        <button mat-fab type="submit">
          <mat-icon>save</mat-icon>
        </button>
        <button mat-fab type="button" (click)="onDelete()">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>