<mat-card fxLayoutGap="10px" fxFlex> 
  <mat-card-title class="title">Contato</mat-card-title>
  <mat-card-subtitle class="subtitle">Maurício Cordeiro</mat-card-subtitle>
  <mat-card-content class="content"  fxFlex >
    <mat-icon>phone</mat-icon>
    <mat-label  fxFlex style="margin-left:10px;">+55 77 99106-1142</mat-label>
  </mat-card-content>
  <mat-card-content class="content" >
      <mat-icon>email</mat-icon>
      <mat-label fxFlex style="margin-left:10px;">mauriciocordeiro@live.com</mat-label>
    </mat-card-content>

</mat-card>